<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>WCST</title>
</head>
<body>
    <form method="POST">
        <p>N_Correct: {{ score }} / N_Trial: {{ n }}</p>
        <p>Select a card which you guess is correct.</p>
        {% for img_name in img_list %}
            <img id="img{{ loop.index }}" 
            src="/static/imgs/{{ img_name }}" 
            value="{{ img_name }}" 
            width="128px" height="128px" 
            onclick="cardSelected('{{ loop.index }}')">
        {% endfor %}
        <p>Correct card attribute: 
            {{ correct_card_attribute }}</p>
        <p id="label_selected">Agent selected:</p>
        <input type="hidden" id="selected" name="selected">
        <img id="img_selected" 
        src="/static/imgs/{{ selected_card_img }}" 
        width="128px" height="128px">
        <br>
        <p>Result: {{ result }}</p>
        <br>
        <input type="submit" id="submit" value="Submit">
    </form>
</body>
</html>